<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901135042704-fof0rs4gkoivvkgc8trqlo1iv0vh0alv</string>
	<key>CLIENT_ID</key>
	<string>901135042704-fof0rs4gkoivvkgc8trqlo1iv0vh0alv.apps.googleusercontent.com</string>
</dict>
</plist>
